* { box-sizing: border-box; }
*::after, *::before { box-sizing: border-box; }


$font-stack-main: Helvetica, Arial, sans-serif;
$border-radius: 5px;


$horizontal-width: 80%;
$horizontal-color: blue;

$education-border: 1px solid lightblue;


hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em auto;
    padding: 0;
    width: $horizontal-width;

    background: $horizontal-color;
}

.education {
    margin: 0.5em 0.5em;
    border: $education-border;
    border-bottom-right-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    border-top-left-radius: $border-radius;


    padding: 0.5em;
}

.title {  font-family: $font-stack-main; text-transform: capitalize; }

.space { margin-top: 1em;}
